@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

*, *before, *after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline:none;
  
}

body {
  height: 100vh;
  background: linear-gradient( -135deg, #038C73,#02735E);
}

.conteiner {
  width: 40%;
  min-width: 450px;
  background-color: #36BFB1;
  padding: 80px 30px;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 20px;
  box-sizing: 0 15px 20px rgba(0,0,0,2);
}

#output {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #014034;
  border-radius: 20px;
  width: 75%;
  height: 10px;
  padding: 15px 5px;
  letter-spacing: 2px; 
  font-family: "Atkinson Hyper", sans-serif;
  font-size: 18px;
  color: #fff;
}

button {
  width: 11%;
  height: 30px;
  background-color: transparent;
  border: none;
  color: #fff;
  float: right;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}

input[type="range"] {
  --webkit-appearance: none;
  width: 80%;
  height: 3.5px;
  margin-top: 10%;
  background-color: #e2e2e2;
  border-radius: 4px;
}

input[type="range"]::--webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  background-color: #008bfd;
  border-radius: 50%;
}

h3 {
  font-family: "Atkinson Hyper", sans-serif;
  display: inline-block;
  width:10%;
  color: #1c1e21;
  background-color: #ffffff;
  text-align: center;
  padding: 5px 0;
  margin-left:3%;
  border-radius: 25px;
  font-size: 18px;
}